[Unit]
Description=redborder ale module

[Service]
ExecStart=/usr/lib/rvm/bin/rvm ruby-2.7.5@global do /var/rb-ale/bin/rb_ale.rb
Restart=always
User=redborder-ale
Type=simple

[Install]
WantedBy=multi-user.target
